/*@import "https:fonts.googleapis.com/css?family=Robot:400,700 ";*/

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Robot, Helvatica, Verdana, sens-serif;
    line-height: 1.5;
}
ul{
    list-style: none;
}
li{
    float: left;
    margin-top: 2.5%;
}


img,picture{

    width: 90%;
    transition: transform 0.2s ease-in-out;
/*    border: 5px solid;*/
}

img:hover,picture:hover {
    transform: rotate(15deg);
    z-index: 20;
}

@media screen and (min-width:400px) and (max-width:600px){

    li{
        width: 90%;
    }
    img:hover,picture:hover{
        transform: translate(50px,100px);
        transform: skewX(20deg,30deg);    
    }

@media screen and (min-width:699px){

    li{
        width: 50%;
    }
/*
    img:hover{
        transform: translate(50px,100px);
        transform: skewX(20deg,30deg);    
    }
*/

}
@media screen and (min-width:1500px){
/*    four colums*/
    li{
        width: 25%;
    } 
/*
    img:hover{
        transform: scale(1.4);
        
*/
/*    }*/

}